@using Core.Entities
@model Mortgage

<form id="create-form" method="post" asp-page="MortgageIndex" asp-route-id="@Model.Id"  asp-page-handler="CreateOrEditMortgage" onsubmit="return jQueryModalPost(this);">

    <div class="form-group row">
        <label class="col-md-3 col-form-label">Customer Name</label>
        <div class="col-md-9">
            <select class="form-control" id="CustomerId" name="CustomerId">

                @if (Model.Id != 0)
                {
                    <option value="@Model.CustomerEntitys.Id">@Model.CustomerEntitys.Name</option>
                    @foreach (var customer in Model.CustomerInfo)
                    {
                        <option value="@customer.CustomerId">@customer.CustomerName</option>
                    }
                }
                else
                {
                    <option value="">Select a Customer</option>
                    @foreach (var customer in Model.CustomerInfo)
                    {
                        <option value="@customer.CustomerId">@customer.CustomerName</option>
                    }
                }
              
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label">Property Name</label>
        <div class="col-md-9">
            <select class="form-control" id="PropertyId" name="PropertyId">

                @if (Model.Id != 0)
                {
                    <option value="@Model.PropertyEntitys.Id">@Model.PropertyEntitys.Address</option>

                    @foreach (var property in Model.PropertyInfo)
                    {
                        <option value="@property.PropertyId">@property.AddressName</option>
                    }                }
                else
                {
                    <option value="">Select a Property</option>

                    @foreach (var property in Model.PropertyInfo)
                    {
                        <option value="@property.PropertyId">@property.AddressName</option>
                    }
                }


              
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-3 col-form-label">LoanDuration</label>
        <div class="col-md-9">
            <input type="number" autocomplete="off" asp-for="LoanDuration" name="LoanDuration" class="form-control">
            <span asp-validation-for="LoanDuration" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label">LoanAmount</label>
        <div class="col-md-9">
            <input type="decimal" autocomplete="off" asp-for="LoanAmount" name="LoanAmount" class="form-control">
            <span asp-validation-for="LoanAmount" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label">InterestRate</label>
        <div class="col-md-9">
            <input type="decimal" autocomplete="off" asp-for="InterestRate" name="InterestRate" class="form-control">
            <span asp-validation-for="InterestRate" class="text-danger"></span>
        </div>
    </div>
           
    <div class="form-group row">
        <div class="col-md-3">
        </div>
    </div>
    <div class="form-group justify-content-between">
        <button type="button" class="btn btn-secondary close-button" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary save-button">Save</button>
    </div>

</form>
<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
</script>    