@using Core.Entities
@model IEnumerable<Mortgage>

@* <table class="table table-bordered " id="mortgageTable" .table-sm> *@
    <table class="table table-bordered table-sm" id="mortgageTable">

    <thead>
        <tr>
            <th>
                CustomerId
            </th>
            <th>
                Address
            </th>
            <th>
                LoanDuration
            </th>
            <th>
                LoanAmount
            </th>
            <th>
                InterestRate
            </th>
            <th>
                MonthlyPayment
            </th>
            <th>
                TotalInterest
            </th>
            <th>
                TotalPayment
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() != 0)
        {
            @foreach (var mortgage in Model)
            {

                double monthlyInterestRate = Convert.ToDouble(@mortgage.InterestRate) / 12 / 100;
                int numberOfPayments = @mortgage.LoanDuration * 12;

                double monthlyPaymentUpper = Convert.ToDouble(@mortgage.LoanAmount * @mortgage.InterestRate);

                double monthlyPayment = Math.Round(Convert.ToDouble(@mortgage.LoanAmount) * (@monthlyInterestRate * Math.Pow(1 + @monthlyInterestRate, @numberOfPayments)) /
                (Math.Pow(1 + @monthlyInterestRate, @numberOfPayments) - 1),2);

                double totalPayment = Math.Round((@monthlyPayment * @mortgage.LoanDuration * 12),2);

                double totalInterest = Math.Round(@totalPayment - Convert.ToDouble(@mortgage.LoanAmount), 2);


                <tr>
                    <td>
                        @mortgage.CustomerId
                    </td>
                    <td>
                        @mortgage.PropertyId
                    </td>
                    <td>
                        @mortgage.LoanDuration
                    </td>
                    <td>
                        @mortgage.LoanAmount
                    </td>
                    <td>
                        @mortgage.InterestRate
                    </td>
                    <td>
                        @monthlyPayment
                    </td>
                    <td>
                        @totalInterest
                    </td>
                    <td>
                        @totalPayment
                    </td>
                    <td text-right">
                        <a onclick="jQueryModalGet('?handler=CreateOrEditMortgage&id=@mortgage.Id','Edit Mortgage')" class="btn btn-info text-white"> Edit</a>
                        <form method="post" asp-page="MortgageIndex" asp-route-id="@mortgage.Id" asp-page-handler="Delete" onsubmit="return jQueryModalDelete(this)" class="d-inline">
                            <button type="submit" class="btn btn-danger text-white"> Delete</button>
                        </form>
                    </td>
                </tr>
            }
        }    

    </tbody>
</table> 

